/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-déc.-2015, 21:46:15
    Author     : jedepaepe
*/
* {
    //box-sizing: border-box;
}
body {
    background-color: rgb(180,180,220);
    background-color: rgb(0, 204, 255);
    color: rgb(0,0,200);
    color: rgb(0, 71, 179);
}
main {
    /*width: 80%;*/
    margin: auto;
    text-align: center;
}
table {
    margin: auto;
    /*text-align: center;*/
}
header, footer {
    text-align: center;
}            
.responsiveTable {
    color: white;
    background-color: rgb(0, 71, 179);
}
.resultList {
    color: white;
    background-color: rgb(0, 71, 179);
}
.error {
    color: red;
}