/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-déc.-2015, 21:46:15
    Author     : jedepaepe
*/
* {
    //box-sizing: border-box;
    margin: 0px;
    /*padding: 0px;*/
    font-family: "Segoe UI",Arial,sans-serif;
    box-sizing: border-box;
}
html {
    /*height: 100%;*/
    position: relative;
    min-height: 100%;
    /*min-width: 600px;*/
}
body {
    background-color: rgb(180,180,220);
    background-color: rgb(0, 204, 255);
    background-color: rgba(0, 138, 255, 0.87);
    color: rgb(0,0,200);
    color: rgb(0, 71, 179);
    color: white;
    /*font-size: 50%;*/
    font-size: 85%;
    /*height: 100%;*/
    /*margin-bottom: 0px;*/
    /*height: 90%;*/
    /*height: 91%;*/
}
header, footer {
    text-align: center;
}            
/*header {*/
/*header .navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}     */
/*.banner h1 {
    position : relative;
    top: -250px;
    color: white;
}*/
/*.banner .overlapper {
    position : relative;
    top: -150px;
    color: white;
}*/
.banner {
    /*margin-top: 50px;*/
    margin-top: 100px;
    /*height:220px;*/
    height:170px;
    /*min-height:150px;*/
    /*box-shadow: 0px -3px 5px -2px black inset;*/
    /*box-shadow: 0px -6px 10px -2px black inset;*/
    box-shadow: 0px -7px 10px -5px black inset;
}
.banner img {
    /*height:350px;*/
    /*position: static;*/
    position: absolute;
    /*position: relative;*/
    top: 0;
    left: 0;    
    z-index: -1;
    /*height:250px;*/
    height:320px;
    height:270px;
    width:100%;
    /*width:10000px;*/
    /*box-shadow: 0px 4px 4px -1px black inset;*/
}
/*@media (min-width: 400px){
    position: absolute;
}*/
.searchBarSizer {
    margin:auto;
    min-width: 280px;
    max-width: 400px;
    display: inline-block;
}
.searchBarSizer input[type=text]{
    /*max-width: 400px;*/
    /*min-width: 280px;*/
    width: 100%;
}
main {
    margin: auto;
    margin-top: 20px;
    /*padding-top: 50px;*/
    padding-bottom: 50px;
    text-align: center;
}
footer {
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width:100%;
    /*height: 120px;*/
    /*min-height: 120px;*/
    box-shadow: 0px 2px 4px black inset;
}
table {
    margin: auto;
    /*text-align: center;*/
}
.responsiveTable {
    color: white;
    background-color: rgb(0, 71, 179);
}
.resultList {
    color: white;
    background-color: rgb(0, 71, 179);
}
table.resultList, .navbar.miniNavbar, table.responsiveTable {
        /*max-width: 800px;*/
        width: 95%;
        /*width: 400px;*/
        /*box-shadow: 0px 2px 4px 4px black inset, 0px 2px 4px -4px black;*/
        /*box-shadow: 0px 2px 4px black;*/
}
@media (min-width: 850px){
    table.resultList, .navbar.miniNavbar, table.responsiveTable {
        /*max-width: 800px;*/
        width: 800px;
        /*width: 400px;*/
        /*box-shadow: 0px 2px 4px 4px black inset, 0px 2px 4px -4px black;*/
        /*box-shadow: 0px 2px 4px black;*/
    }
}
.formTable tr td {
    /*text-align: right;*/
    text-align: left;
}
.formTable tr td textarea{
    width : 300px;
    height : 100px;
}
.formTable tr td input:not([type=submit]) {
/*.formTable tr td input:not(:last-child) {*/
/*.formTable tr td:not(:last-child) input {*/
/*.formTable tr td:not(:last-child) {*/
/*.formTable tr td input:last-child {*/
/*input:not([type=submit]) {*/
/*input{*/
/*.formTable tr td input[type!=submit] {*/
    width : 300px;
}
/*.formTable tr td {*/
/*.formTable tr  {*/
    /*text-align: right;*/
    /*text-align: left;*/
/*}*/
/*.formTable tr td input {
    text-align: left;
}*/

.error {
    color: red;
}
.goodFeedBack {
    background-color: greenyellow;
    color: green;
    width: 100%;
    text-align: center;
/*    position : fixed;
    top: 52px;*/
}
.masterH1 {
    color: white;
    /*size: 1em;*/
    font-size: 2em;
    font-size: 20px;
    font-size: 40px;
    font-size: 60px;
    /*font-size: 80px;*/
    /*font-size: 100px;*/
    /*size: 3em;*/
    /*size: 4em;*/
}
main h1:first-of-type {
    margin-bottom: 40px;
}
